<h1>出品商品一覧</h1>


<a href="http://localhost:3000/items/1"></a>

<ul>
  <% @items.each do |item| %>
    <li>
      <a href="/items/<%= item.id %>"><%= item.name %></a>
      <a href="/items/<%= item.id %>/edit">編集</a>
    </li>
  <% end %>
</ul>
